#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .flex {
    flex-direction: column;
    gap: 16px;
  }

  .w-160 {
    width: 100%;
  }

  .w-80, .w-40 {
    width: 100%;
  }
}
