#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
  }

  .flex {
    flex-direction: column;
    gap: 14px;
  }

  .w-160 {
    width: 100%;
  }

  .w-80,
  .w-40 {
    width: 100%;
  }

  .select-trigger {
    width: 100%;
    flex-direction: row;
  }
}
